<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Analog Clock</title>
</head>
<body>
    <h1>Learn to tell time!</h1>
    <div class="task-container">
        <div class="task">
            <h2>What time is it?</h2>
            <div class="clock clock1">
                <div class="hand hour-hand"></div>
                <div class="hand minute-hand"></div>
                <div class="center-circle"></div>
            </div>
            <div class="input-container">
                <label for="hour-input1">Hour:</label>
                <input type="number" id="hour-input1" min="0" max="12" step="1">
                <label for="minute-input1">Minute:</label>
                <input type="number" id="minute-input1" min="0" max="59" step="1">
                <button id="submit-time1">Submit</button>
            </div>
            <div id="hint1" class="hint"></div>
        </div>
        <div class="task">
            <h2>Set the time</h2>
            <div class="clock clock2">
                <div class="hand hour-hand"></div>
                <div class="hand minute-hand"></div>
                <div class="center-circle"></div>
            </div>
            <div class="input-container">
                <label for="hour-input2">Hour:</label>
                <input type="number" id="hour-input2" min="0" max="12" step="1">
                <label for="minute-input2">Minute:</label>
                <input type="number" id="minute-input2" min="0" max="59" step="1">
                <button id="submit-time2">Submit</button>
            </div>
        </div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>
